.title {
  margin-bottom: 1rem;
}
.title h5 {
  font-weight: 100;
}

.itens {
  position: relative;
  display: block;
  min-height: 300px;
  max-height: 300px;
  min-width: 300px;
  max-width: 300px;
  overflow: scroll;
  overflow-x: hidden;
}

.itens::-webkit-scrollbar {
  width: 6px; /* ajuste conforme necessário */
}

.itens::-webkit-scrollbar-track {
  background-color: transparent; /* Cor de fundo da área de track */
}

.itens::-webkit-scrollbar-thumb {
  background-color: #888; /* Cor do thumb do scrollbar */
  border-radius: 5px; /* Bordas arredondadas do thumb */
}

.itens::-webkit-scrollbar-button {
  display: none; /* Esconde as setas */
}

.remove {
  color: red;
  font-family: Oswald;
  cursor: pointer;
  font-size: 1.4rem;
}
.carrinhoIcon {
  background: none;
}

.containerCart {
  display: inline-block;
  position: relative;
}

.contadorItens {
  font-family: monospace;
  position: relative;
  top: -29px;
  right: 9px;
  color: #ff0000;
  z-index: 1000;
  font-size: 16px;
}
.containerCart::before {
  content: "";
  min-height: 22px;
  min-width: 22px;
  border-radius: 50%;
  background-color: #ffff00;
  display: inline-block;
  position: absolute;
  right: 4px;
  top: -25px;
}
.carrinhoSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 35vh;
  min-height: 400px;
  min-width: 300px;
  max-width: 400px;
  max-height: 500px;
  right: 100%;
  background-color: #fff;
  border-radius: 4px;
  padding: 1.6rem;
  font-size: 1.4rem;
}

.carrinhoSection h2 {
  font-size: 2.4rem;
}

.carrinhoSection ul li {
  list-style: none;
}

.carrinhoButton {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.carrinhoPagar {
  border: 2px solid black;
  color: white;
  padding: 0.2rem 0.6rem 0.2rem 0.6rem;
  display: inline-block;
  width: auto;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 1rem;
}

@media only screen and (max-width: 922px) {
  .carrinhoIcon {
    position: absolute;
    top: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .carrinhoIcon {
    position: static;
  }
  .carrinhoSection {
    width: 40vw;
    top: 40vh;
    right: 25vw;
    color: black;
  }
  .carrinhoSection h2 {
    font-size: 2.4rem;
  }
  .carrinhoSection h4 {
    font-size: 1.2rem;
  }
  .carrinhoSection p {
    font-size: 1.4rem;
  }
  .carrinhoSection ul li {
    font-size: 1rem;
  }
  .carrinhoPagar {
    padding: 0.1rem 0.2rem;
  }
}

@media only screen and (max-width: 468px) {
  .carrinhoSection {
    right: 20vw;
  }
  .carrinhoSection p {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 410px) {
  .carrinhoSection {
    padding: 1rem;
    right: 30%;
  }
}
