@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.contato {
  min-height: 200vh;
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}

.cardHeader {
  padding: 1rem;
  background: #f3f486;
  text-align: center;
  font-size: 1.6rem;
}
.cardHeader h1 {
  color: #262626;
  font-size: 3rem;
  font-family: Oswald;
}

.social {
  height: 80%;
  justify-content: center;
  margin-left: 2vw;
}

.social a {
  font-family: monospace;
  text-decoration: none;
}

.card {
  margin-top: 10vh;
  background: #fff;
  height: 30rem;
  width: 30rem;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0.4em 5px 5px #bbb;
}

.card img {
  width: 3rem;
}
.card a {
  margin-left: 1rem;
  display: inline;
  font-size: 1.6rem;
  overflow: hidden;
}
.card ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card ul li {
  display: flex;
  align-items: center;
}

.mainCard {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.cardContato {
  margin-top: 10vh;
  background: #fff;
  height: 30rem;
  width: 30rem;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0.4em 5px 5px #bbb;
}

@media only screen and (max-width: 768px) {
  .contato {
    flex-direction: column;
    align-items: center;
  }
  .cardContato {
    width: 80%;
  }

  .cardContato h1 {
    font-size: 8vw;
  }

  .card {
    width: 80%;
  }
  .card h1 {
    font-size: 8vw;
  }

  .card a {
    font-size: 2rem;
  }
}
