.content {
  margin-top: 10vh;
}

.firstContent {
  background: url('https://th.bing.com/th/id/OIG.auA8piirumkR6lG66dYN?pid=ImgGn');
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstContent h1 {
 font-size: 20vw;
background: rgba(0, 0, 0, 0.3);
padding: 2vw;
border-radius: 4vw;

}

.secondContent {
  display: flex;
  flex-direction: column;
  height: 50vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 2vw;
  align-items: center;
}

.secondContent h4 {
  font-size: 2.3vw;
  color: #444;
  font-weight: normal;
  font-family: Oswald;
  line-height: 1.2;
}

.thirdContent {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thirdContent img {
  position: absolute;
  width: 100vw;
  height: 100%;
}
.thirdContent h1 {
  font-size: 20vw;
  z-index: 99;
  background: rgba(0, 0, 0, 0.3);
  padding: 2vw;
  border-radius: 4vw;
}

.fourthContent {
  display: flex;
  flex-direction: column;
  height: 50vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 2vw;
  align-items: center;
}
.fourthContent h4 {
  font-size: 2.3vw;
  color: #444;
  font-weight: normal;
  font-family: Oswald;
  line-height: 1.2;
}

.lastContent {
  background: url('https://img.freepik.com/fotos-premium/bandeira-da-italia-em-uma-superficie-de-madeira-velha_314149-1354.jpg?w=2000');
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -15rem;
}

.lastContent h1 {
  font-size: 20vw;
 background: rgba(0, 0, 0, 0.3);
 padding: 2vw;
 border-radius: 4vw;
 }











@media only screen and (max-width: 600px) {
  .secondContent h4 {
    font-size: 1rem;
 
  }
  .secondContent {
    margin-bottom: 20rem;
  }

  .fourthContent h4 {
    font-size: 1rem;
 
  }
  .fourthContent {
    margin-top: 2rem;
    margin-bottom: 12rem;
  }
}

@media only screen and (max-width: 468px ) {
  .secondContent h4 {
    font-size: 3vw;

  }
  .secondContent {
    margin-bottom: 10rem;
  }
  .fourthContent h4 {
    font-size: 3vw;
  }
}


